
/* Your CSS Code here. */
.holder{
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
}
.a{
	background-color: blue;
	padding:10px;
	text-item: right;

	margin:10px;
	text-position:center;
	
}